html {
    box-sizing: border-box;
}

*,
*::before *::after {
    box-sizing: inherit;
}

*,
*::before *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* @font-face {
    font-family: 'Open Sans';
    src: local('OpenSansSemiBold'), local('OpenSansSemiBold'),
        url('../font/OpenSansSemiBold.woff2') format('woff2'),
        url('../font/OpenSansSemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSansRegular'), local('OpenSansRegular'),
        url('../font/OpenSansRegular.woff2') format('woff2'),
        url('../font/OpenSansRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSansBold'), local('OpenSansBold'),
        url('../font/OpenSansBold.woff2') format('woff2'),
        url('../font/OpenSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} */



body {
    background-color: #1F1F1F ;
    color: #c4c7c5;
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
}

/* glob */

.list-rezet {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-rezet {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}




.flex {

    display: flex;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

:root {
    /* size */
    --width-card: 392px;
    --min-height: 336px;

    /* color */
    --back-color: #28292A;
    


    --border-radius: 24px;



}


.item-card {
    max-width: var(--width-card);
    min-height: var(--min-height);
    border-radius: var(--border-radius);
    background-color: var(--back-color);

}

.imd2 {
    border-radius: 24px;
}

.card-content {
    padding: 24px;
}

.title-3 {
    margin: 0;
    margin-bottom: 12px;

    color: white;
    font-size: 24px;
    line-height: 32px;
    font-style: normal;
    font-weight: 475;
}

.deskr {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;

    color: white;
    font-size: 57px;
    line-height: 64px;
    font-weight: 475;
}

/* .main {
    position: relative;
} */
/* header */


/* .header {
    position: relative;
} */

/* .ddwfe {
    display: flex;
    
}

.ff {
    
} */


/* Dark mode */

.dark-mode {
    background-color: white;
    color: #1c1b1d;
    fill: #1c1b1d;
}

.header-dark {
    background-color: #fff;
}

.card-item-dark {
    background-color: #f8f1f6;
}

.dark-text {
    
    color: #1c1b1d;
}


.title-dark {
    color: #1c1b1d;
}


.section-title-dark {
    color: #1c1b1d;
}

.footer-text-dark {
    color: #1c1b1d !important;
}

.footer-list-dark {
    color: #4d4256 !important;
}

.footer-link-dark {
    color: #6442d6 !important;  
}

.footer-link2-dark {
    color: #1c1b1d !important;

    
}

.footer-logo-dark svg {
    fill:#1c1b1d !important ;
}

.link-gogle-dark svg {
    fill: #1c1b1d !important;
}


.ddwfe-dark {
    background-color: #f2ecee !important;
}


.burger-dark svg {
    fill: #1c1b1d !important;
}

.logo-dark svg {
    fill: #1c1b1d !important;
} 

.header-deskr-dark {
    color: #1c1b1d !important;
}

.svg-head-dark {
    fill: #1c1b1d !important;
}

.popup-dark {
    background-color: #f2ecee !important;
}

.header-text-nav-dark {
    color: #4d4256 !important;
}

.popup-btn-menu-dark {
    color: #4d4256 !important;
}


.pop-up-close-dark {
    fill: #1c1b1d !important;
}

.dark-mode-btn1-mode {
    border-color: #1c1b1d !important;
}

.dark-mode-btn1-mode svg {
    fill: #1c1b1d !important;
}




/* main */


.main {
    padding-left: 88px;
}


/* section-hero */




.burger {
    fill: white;
}

.opc {
    display: none;
    
}

.burger-menu {
    display: none;
}




.source-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f5223; 
    width: 56px;
    height: 56px;   

    border-radius: 16px;
    margin-bottom: 10px;
}


.dark-mode-btn1 {
    border: 1px solid white;
    border-radius: 100%;
    padding: 16px;
    margin-bottom: 10px;
}

.header-nav {
    padding: 20px 5px;
    display: flex;
    justify-content: center;
}

.svg-head {
    width: 56px;
    height: 32px;
}


.header-btn-menu {

    fill: #c4c7c5;
    
}

.header-text-nav {
    color: #c4c7c5;
    font-size: 12px;
    font-weight: 500;
}


.burger-menu {
    display: none;
}

.block-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.header-list  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}


.hero {
    padding: 0px 8px;
    
    display: grid;
    grid-template-columns: 12fr;
}

.ddwfe {
    overflow: auto;
    width: 88px;
    height: 100%;
    position: fixed;
    background-color: #2d2f31;
}

.header-btn-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    max-width: 1760px;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 56px;
    border-radius: 24px;
    background-image: url('../img/unnamed.jpg');
    background-repeat: no-repeat;
}

.hero-content {
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 112px;
    
    
    color: white;
    font-style: normal;
    font-weight: 475;
    line-height: 112px;
    text-align: center;

}


.hero-deskr {
    text-align: center;
    max-width: 840px;
    margin: 0;
    margin-bottom: 22px;

    color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

}

.btn-hero {
    width: 176px;
    height: 80px;
    padding: 0 27px;

    border-radius: 48px;
    font-size: 24px;
    background-color: #a8c7fa;
    cursor: pointer;
}

/* news */
.news-launches {
    margin-bottom: 70px;
}




.list-news {
    column-gap: 8px;

}












/* desing */

.desing {
    margin-bottom: 70px;
}


/* .desing-title {
    margin: 0;
    margin-bottom: 8px;
    
    color: white;
    font-size: 57px;
    font-weight: 500;
    font-style: normal;
    line-height: 64px;
} */

.desing-list {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 8px;
}



/* resources */


.resources {
    margin-bottom: 70px;
}

.resources-item {
    max-width: 596px;
    min-height: 122px;
    padding: 24px;
}

.resources-list {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: 8px;
}



/* footer */

.footer-container {
    flex-direction: column;
    padding: 64px 40px;
}

.footer-deskr {
    max-width: 506px;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

.footer-block-1 {
    margin-right: 64px;
}

.footer-block-2 {
    margin-right: 100px;
}

.footer-block-3 {
    margin-right: 100px;
}

.footer-text {
    margin: 0;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #c4c7c5;
}


.footer-list {
    display: grid;
    row-gap: 20px;
}


.footer-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;


    color: #a8c7fa;
}

.footer-content {
    display: flex;
}

.google-img {
    margin-right: 24px ;
}

.footer-list2 {
    column-gap: 24px;
}

.footer-link2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}


.footer-logo {
    margin-bottom: 24px;
}

/* pop-up */






